@import url("https://fonts.googleapis.com/css2?family=Finlandica&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  font-family: "Finlandica";
  overflow-x: hidden;
  color: #36454f;
}

.hero-section {
  background-image: url("images/hero-img.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 1.5rem;
  height: 95vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
  column-gap: 2rem;
}

.nav-list li:first-child .link {
  padding: 1rem 1.5rem;
  background-color: #f5e422;
  border-radius: 0.3rem;
}

.link,
.link:active,
link:visited {
  text-decoration: none;
  color: #36454f;
  font-size: 1.8rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 15rem;
}

.tab-control {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: transparent;
  margin: 16rem auto;
  width: fit-content;
}

.tab-top {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: center;
  column-gap: 0.2rem;
  width: 80%;
}

.tab-control button {
  /* width: 20rem; */
  height: 4rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.tab-fields {
  width: 100%;
  height: 5rem;
  background-color: #36454f;
}

@media screen and (max-width: 65.93em) {
  html {
    font-size: 56.25%;
  }
  .tab-control button {
    width: 15rem;
  }
}

@media screen and (max-width: 49.68em) {
  .tab-top {
    flex-direction: column;
    width: max-content;
  }
  .tab-control button {
    width: 100%;
    display: block;
  }
}
